<h2 mat-dialog-title>
    Edit recipient
</h2>

<mat-dialog-content>
    <form>
        <mat-form-field *ngFor="let key of keys">
            <mat-label>{{ key }}</mat-label>
            <input matInput
                   [name]="data.recipient.placeholderValues.get(key)"
                   [ngModel]="data.recipient.placeholderValues.get(key)"
                   (ngModelChange)="placeholderValueChange(key, $event)">
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [mat-dialog-close]="data">
        Done
    </button>
</mat-dialog-actions>