<div class="templates-container">
    <h4 class="mat-h4 template-container-title">
        Select a template
    </h4>
    <div class="cards">
        <mat-card class="card"
                  *ngFor="let emailTemplate of emailTemplates"
                  (click)="onClickEmailTemplate(emailTemplate)">
            <mat-card-header>
                <mat-card-title>{{ emailTemplate.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{ emailTemplate.message }}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="email-container" *ngIf="selectedEmailTemplate">
    <div class="email-container-content">
        <div class="email">
            <app-email [emailTemplate]="selectedEmailTemplate" [recipients]="recipients"></app-email>
        </div>
        <div class="recipient">
            <app-recipient [emailTemplate]="selectedEmailTemplate" [recipients]="recipients"></app-recipient>
        </div>
    </div>
</div>