<div class="templates-container">
    <h4 class="mat-h4 template-container-title">
        Select a template
    </h4>
    <div class="cards">
        <mat-card class="card" *ngFor="let emailTemplate of emailTemplates" (click)="clickEmailTemplate(emailTemplate)">
            <mat-card-header>
                <mat-card-title>{{ emailTemplate.title }}</mat-card-title>
                <mat-card-subtitle>{{ emailTemplate.subtitle }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{ emailTemplate.text }}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="email-container" *ngIf="selectedEmalTemplate">
    <div class="email-container-content">
        <div class="email">
            <app-email></app-email>
        </div>
        <div class="recipient">
            <app-recipient></app-recipient>
        </div>
    </div>
</div>