@import '../shared/_ui-tools.scss';
@import '../shared/variables';

:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.templates-container {
    @include flex-column-centered();

    width: 100%;
    min-width: 320px;
    height: 420px;
    overflow: auto;
    background-color: $primary-color;

    .template-container-title {
        font-size: 24px;
        margin: 16px 0;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        // height: 100%;
        padding: 32px;
        overflow: auto;

        .card {
            transition: all 150ms ease-in-out;
            margin: 8px;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }
}

.email-container {
    @include flex-row-centered();

    width: 100%;
    min-height: 400px;
    flex-grow: 1;

    .email-container-content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        margin: 16px;

        .email,
        .recipient {
            display: flex;
        }
    
        .email {
            width: 45%;
            min-width: 320px;
        }
    
        .recipient {
            width: 480px;
        }
    }
}