@import '../shared/_ui-tools.scss';
@import '../shared/variables';

:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .container {
        @include flex-column-centered();
        padding: 16px;
    }

    .heading {
        font-size: 36px;
        margin: 16px 0;
    }

    .title {
        font-size: 24px;
        margin: 16px 0;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        padding: 32px;
        overflow: auto;

        .card {
            transition: all 150ms ease-in-out;
            margin: 8px;
            min-height: 100px;
            min-width: 500px;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }
}