<div class="container">
    <h1 class="mat-h1 heading">
        History of sent emails
    </h1>

    <ng-container *ngIf="emailRecords!.length else empty">
        <div class="cards">
            <mat-card class="card" *ngFor="let emailRecord of emailRecords">
                <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon>
                            {{ emailRecord.successful ? 'check' : 'close' }}
                        </mat-icon>
                    </div>
                    <mat-card-title>{{ emailRecord.title }}</mat-card-title>
                    <mat-card-subtitle>{{ emailRecord.email }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{ emailRecord.message }}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-container>
</div>

<ng-template #empty>
    <h4 class="mat-h2 title">
        - No history for sent emails -
    </h4>
</ng-template>