<section class="main-section">
    <div class="banner-section">
        <h1 class="mat-h1">Skaikru mail</h1>
        <h2>Get started by sending an email or view your templates!</h2>
        <div>
            <button mat-raised-button routerLink="/view-templates" class="action-button">View templates</button>
            <button mat-raised-button routerLink="/send-mail-template">Send email</button>
        </div>
    </div>
    <div class="resources-section">
        <div class="resource-box">
            <img src="https://www.fmi.uni-sofia.bg/sites/all/themes/fmi/su-logo.png">
            <a class="resource-anchor mat-h4 resource-text" target="_blank" href="https://www.fmi.uni-sofia.bg/">
                Visit FMI
            </a>
        </div>
    </div>
</section>