@mixin flex-column-centered() {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin flex-row-centered() {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
