:host {
    padding: 16px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    mat-card {
        height: 100%;

        mat-card-content {
            display: flex;
            flex-direction: column;
        }
    }

    mat-form-field {
        display: block;
        margin-bottom: 8px;
        width: 100%;
    }

    // ::ng-deep .chips-form-field .mat-form-field-underline {
    //     display: none;
    //  }

    .icon {
        cursor: pointer;
    }

    .edit-icon {
        margin-left: 4px;
    }

    .message-textarea {
        min-height: 200px;
    }
}

