:host {
    padding: 16px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    mat-form-field {
        display: block;
        width: 100%;
    }

    .icon {
        cursor: pointer;
    }

    .edit-icon {
        margin-left: 4px;
    }

    .message-textarea {
        min-height: 280px;
    }
}