<mat-card class="card">
    <mat-card-content>
        <form>
            <mat-form-field>
                <mat-label>To</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Subject</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="message-form-field">
                <mat-label>Message</mat-label>
                <textarea matInput matTextareaAutosize class="message-textarea"></textarea>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>