:host {
    .wrapper {
        max-height: 600px;
        overflow-y: auto;
    }

    mat-card {
        height: 100%;
        margin-bottom: 16px;

        mat-card-content {
            display: flex;
            flex-direction: column;
        }
    }

    mat-form-field {
        display: block;
        margin-bottom: 16px;
        width: 100%;
    }
}